# OS trash
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/
*.so

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
*.terraform/
.terraform.lock.hcl

# Testing
.pytest_cache/
.coverage
htmlcov/

# CloudSpyglass data
data/

# Node
node_modules/

# Frontend build output
frontend/dist/

# Docker
.dockerignore